/* Font styles */

@import url(https://fonts.bunny.net/css?family=syncopate:400,700|ibm-plex-mono:400,700);

.my-name {
  font-family: 'Syncopate', sans-serif;
}

.font-mono {
  font-family: 'IBM Plex Mono', monospace;
}

/* Custom classes: */

.typed-wrapper {
  display: block;
  overflow: hidden;
  height: 5.5rem; /* 3 lines of fs-3 */
}

/* Custom styling overrides: */

code {
  font-family: 'IBM Plex Mono', monospace;
  color: #eb140a;
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
  background-color: var(--bs-dark);
}

.accordion-button:not(.collapsed),
.accordion-button:not(.collapsed):focus {
  background-color: var(--bs-dark);
  border-color: var(--bs-dark);
  color: white;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
}

.nav-pills .nav-link.active {
  background-color: var(--bs-dark);
}

.nav-pills .nav-link {
  color: var(--bs-dark);
}

/* Timeline component styling -- inspired from Divyesh Kamalanaban's
   CSS Timeline example (https://codepen.io/Divyesh-K/pen/YzxLQNz). */

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0 0;
  max-width: 600px;
}

.timeline {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3px 1fr;
}

.timeline-content {
  padding: 0px 0.75rem;
  overflow-wrap: break-word !important;
  margin: 0px 0.625rem 1.25rem;
}

.timeline-content-subtitle {
  margin: 0.25rem 0;
}

.timeline-content-secondary {
  color: #6c757d;
}

.timeline-middle {
  display: none;
  background-color: #dee2e6;
}
.timeline-left {
  position: relative;
  background-color: #dee2e6;
  width: 1px;
  height: 100%;
}

.timeline-circle {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #212529;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline-empty {
  display: none;
}

@media screen and (min-width: 576px) {
  .timeline {
    grid-template-columns: 1fr 3px 1fr;
    width: 100%;
  }
  .timeline-empty {
    display: block;
  }
  .timeline-middle {
    display: block;
    position: relative;
    width: 1px;
    height: 100%;
  }
  .timeline-left {
    display: none;
  }

  .typed-wrapper {
    height: 4rem; /* 2 lines of fs-3 */
  }
}
/* End of CSS Timeline */

@media screen and (min-width: 992px) {
  /* styles for lg, xl, xxl */
  .typed-wrapper {
    height: 2.5rem; /* 1 line of fs-3 */
  }
}

