/* Font styles */

@import url(https://fonts.bunny.net/css?family=syncopate:400,700|ibm-plex-mono:400,700);

.my-name {
  font-family: 'Syncopate', sans-serif;
}

.font-mono {
  font-family: 'IBM Plex Mono', monospace;
}

/* Custom classes: */

.social-link {
  color: black;
}

.typed-wrapper {
  display: block;
  overflow: hidden;
  height: 5.5rem; /* 3 lines of fs-3 */
}

/* Custom styling overrides: */

code {
  font-family: 'IBM Plex Mono', monospace;
  color: #eb140a;
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
  background-color: var(--bs-dark);
}

.accordion-button:not(.collapsed),
.accordion-button:not(.collapsed):focus {
  background-color: var(--bs-dark);
  border-color: var(--bs-dark);
  color: white;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
}

.nav-pills .nav-link.active {
  background-color: var(--bs-dark);
}

.nav-pills .nav-link {
  color: var(--bs-dark);
}

:root[data-bs-theme="light"] {
  .btn-primary {
    --bs-btn-bg: #212529;
    --bs-btn-color: #fff;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-bg: #424649;
    --bs-btn-hover-border-color: #373b3e;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
  }
}

:root[data-bs-theme="dark"] {
  .btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #e2e6ea;
    --bs-btn-hover-border-color: #dae0e5;
    --bs-btn-focus-shadow-rgb: 211, 212, 213;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #dae0e5;
    --bs-btn-active-border-color: #d3d9df;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa;
  }

  .btn-outline-secondary {
    color: #ccc; /* lighter gray for text */
    border-color: #ccc; /* lighter gray border */
  }
  .btn-outline-secondary:hover,
  .btn-outline-secondary:focus {
    color: #000; /* optional: white on hover/focus */
    border-color: #ccc; /* keep border consistent */
    background-color: #bdbdbd; /* subtle dark bg on hover */
  }

  .text-secondary {
    color: #ccc !important;
  }

  /* Language switcher */
  .dropdown-menu .dropdown-item.active,
  .dropdown-menu .dropdown-item:active {
    background-color: var(--bs-light);
    color: black;
  }

  /* About section */
  .social-link {
    color: white;
  }

  /* Skills section */
  .accordion-button:not(.collapsed),
  .accordion-button:not(.collapsed):focus {
    background-color: var(--bs-light);
    border-color: var(--bs-light);
    color: black;
    box-shadow: none;
  }
  .accordion-button:not(.collapsed)::after {
    filter: brightness(0) invert(0);
  }
  .accordion-button::after {
    filter: brightness(0) invert(1);
  }

  /* Resume section */
  .nav-pills .nav-link.active {
    background-color: var(--bs-light);
    color: black;
  }
  .nav-pills .nav-link {
    color: var(--bs-light);
  }

  .timeline-circle {
    background-color: #dee2e6;
  }
  .timeline-middle {
    background-color: #35393d;
  }
  .timeline-left {
    background-color: #35393d;
  }
  .timeline-content-secondary {
    color: #ccc;
  }

  /* Projects section */
  .badge.text-bg-light {
    color: #fff !important; /* like .text-bg-dark */
    /* background-color: rgba(var(--bs-dark-rgb), 1) !important; */
    background-color: #1b1e22 !important;
  }
  code {
    color: #ff4c4c;
  }
}

/* Timeline component styling -- inspired from Divyesh Kamalanaban's
   CSS Timeline example (https://codepen.io/Divyesh-K/pen/YzxLQNz). */

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0 0;
  max-width: 600px;
}

.timeline {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3px 1fr;
}

.timeline-content {
  padding: 0px 0.75rem;
  overflow-wrap: break-word !important;
  margin: 0px 0.625rem 1.25rem;
}

.timeline-content-subtitle {
  margin: 0.25rem 0;
}

.timeline-content-secondary {
  color: #6c757d;
}

.timeline-middle {
  display: none;
  background-color: #dee2e6;
}
.timeline-left {
  position: relative;
  background-color: #dee2e6;
  width: 1px;
  height: 100%;
}

.timeline-circle {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #212529;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline-empty {
  display: none;
}

@media screen and (min-width: 576px) {
  .timeline {
    grid-template-columns: 1fr 3px 1fr;
    width: 100%;
  }
  .timeline-empty {
    display: block;
  }
  .timeline-middle {
    display: block;
    position: relative;
    width: 1px;
    height: 100%;
  }
  .timeline-left {
    display: none;
  }

  .typed-wrapper {
    height: 4rem; /* 2 lines of fs-3 */
  }
}
/* End of CSS Timeline */

@media screen and (min-width: 992px) {
  /* styles for lg, xl, xxl */
  .typed-wrapper {
    height: 2.5rem; /* 1 line of fs-3 */
  }
}

